# ===== Start config App =====
APP_HOST=
APP_PORT=
APP_API_DOCUMENT=
API_API_PREFIX=
API_CORS_ORIGIN=
# ===== End config App =====

# ===== Start config Logger =====
LOG_LEVEL=
# ===== End config Logger =====

# ===== Start config Database =====
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
# DATABASE_NAME=
DATABASE_URL=
#DB_SSL=false
# ===== End config Database =====

# ===== Start config Redis =====
REDIS_HOST=
REDIS_PORT=                     # 6379
REDIS_USERNAME=
REDIS_PASSWORD=
# ===== End config Redis =====

# ===== Start config ENV =====
NODE_ENV=                       # production | development
# ===== End config ENV =====